@{
    ViewBag.Title = "About";
}
<div class="jumbotron jumbotron-about">
    <h1>ABOUT S<sup>&</sup>W<sub> INSIGHTS</sub></h1>
    
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding:10px;">
            <div class="linkcard linkcard1">
                <div class="linkcardtext">Write Everyday Using 'INSIGHTS'!</div>
            </div>
        </div>
        <div class="col-md-6" style="padding:10px;">
            <div class="linkcard linkcard2">
                <div class="linkcardtext">Track your activities and your goals!</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding:10px;">
            <div class="linkcard linkcard3">
                <div class="linkcardtext">Increase your appreciation for the finer things!</div>
            </div>
        </div>
        <div class="col-md-6" style="padding:10px;">
            <div class="linkcard linkcard4">
                <div class="linkcardtext">See the world differently...</div>
            </div>
        </div>
    </div>
</div>